<%- include('partials/header') %>
<h1>Something Went Wrong</h1>

<%- include('partials/error') %>

<div class="link-box">
  <a href="/" class="dashboard-btn">Back to Dashboard</a>
</div>
<%- include('partials/footer') %>